<div class="container" *ngIf="movie">
    <div class="row">
        <div class="col text-center">
            <h2>{{movie.movie_data.name}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <!-- player -->
            <div class="row">
                <div class="col">
                    <vg-player style="height: 70vh;" (onPlayerReady)="onPlayerReady($event)">
                        <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls autoplay>
                            <source *ngFor="let source of videoSources" [src]="source" type="video/mp4">
                        </video>
                    </vg-player>
                </div>
            </div>
            <div class="row episode">
                <div class="col">
                    <div class="title-container">
                        <span>Test - </span>
                        <span class="title">episode.title</span>
                    </div>
                    <span class="duration"> duration </span>
                    <div>episode.info.plot</div>
                </div>
            </div>
            
        </div>
        <div class="col-4" style="max-height: 90vh; overflow-y: scroll;">
            <div class="row">
                <div class="col">
                    <img style="max-height: 20vh;" [src]="movie.info.movie_image | safe:'resourceUrl'">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        {{movie.info.plot}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a target="_blank" *ngIf="movie.info.youtube_trailer"
                        [href]="('https://www.youtube.com/watch?v=' + movie.info.youtube_trailer) | safe:'resourceUrl'">Trailer</a>
                </div>
            </div>
        </div>
    </div>

</div>