<mat-grid-list cols="3">
  <mat-grid-tile>
    <mat-card class="card" [routerLink]="['live-channels']">
      <mat-card-header>
        <mat-card-title>live channels</mat-card-title>
      </mat-card-header>

      <div class="card-img-wrapper">
        <img mat-card-image src="../../assets/1280676876.svg" alt="Photo of a TV">
      </div>
      <mat-card-content>live channels</mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card" [routerLink]="['movies']">
      <mat-card-header>
        <mat-card-title>Movies</mat-card-title>
      </mat-card-header>
      <div class="card-img-wrapper">
        <img mat-card-image src="../../assets/abustany_Movie_reel.svg" alt="Photo of a movies reel">
      </div>
      <mat-card-content>Movies</mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card" [routerLink]="['series']">
      <mat-card-header>
        <mat-card-title>Series</mat-card-title>
      </mat-card-header>
      <div class="card-img-wrapper">
        <img mat-card-image src="../../assets/Stellaris-Clapper-board.svg" alt="Photo of a movies clapper board">
      </div>
      <mat-card-content>Series</mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>